@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}
:focus {outline: 0;}
.theme-bg {background: #f19027;}
.theme-color {color: #f19027;}
.outline-btn {
    color: grey;
	  
		text-decoration: none;
		border: 1px solid;
		border-radius: 43px;
		font-size: 13px;
		padding: 10px 30px;
		line-height: 47px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.outline-btn:hover, .outline-btn:focus {
	background-color: #f19027;
	color: #FFF; 
	text-decoration: none;
    transition: all 200ms linear;

  }
  a {cursor: pointer;}
  a:hover {text-decoration: none;}
  p {color: #b2b2b2;}
img {width: 100%;}
li {list-style-type: none;}
  /* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

/* #Navigation
================================================== */
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation {
    background: #f19027;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 5px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 28px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.header-top {}
.header-top ul {float: right; margin-top: 10px !important;}
.header-top li {display:inline-block;}
.header-top li a { /*padding: 5px 10px; display: inline-block;*/}

.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 52px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #FFF !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	background-color: #FFF !important;
	color:#f19027 !important;
	
}
.nav-item.active .nav-link{
	background-color: #FFF !important;
	color:#f19027 !important;
}
.nav-link {
	position: relative;
	padding: 15px 25px !important;
	display: inline-block;
	font-size:14px;
	font-weight: 400; 
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #FFF;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0px;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: #f19027;
}





/* Media Query
================================================== */
@media (max-width: 767px) { 
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
}




.feature-section .card {display: block;}




/* Banner */




/* Banner */




/* news css */

.holder { 
	width:100%;
	height:250px;
	overflow:hidden;
	padding:10px;
	font-family:Helvetica;
  }
  .holder .mask {
	position: relative;
	left: 0px;
	top: 10px;
	width:300px;
	height:240px;
	overflow: hidden;
  }
  .holder ul {
	list-style:none;
	margin:0;
	padding:0;
	position: relative;
  }
  .holder ul li {
	padding:10px 0px;
  }
  .holder ul li h6 {
	font-weight: 600;
	margin:0px;
  }
  .holder ul li p {
	padding:2px 0px;
	font-size: 14px;
	color: #333;
	margin: 0px;
  }
  .holder ul li span {
	font-size: 14px;
  }
  .holder ul li a {
	color:darkred;
	font-size: 14px;
	text-decoration:none;
  }

/* news Css */


/* Event Css */




  .timeline {
	padding: 50px 50px 50px 50px;
	position: relative;
	width: 100%;
  }
  .timeline:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 200px;
	bottom: 0px;
	width: 4px;
	background: #ddd;
  }
  .timeline:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .entry {
	  width:100%;
	  float: left;
	text-align: left;
	position: relative;
  }
  .entry .title {
	margin-bottom: 0em;
	float: left;
	width: 20px;
	padding-right: 0px;
	text-align: right;
	position: relative;
  }
  .entry .title:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border: 4px solid salmon;
	box-sizing: content-box;
	background-color: #fff;
	border-radius: 100%;
	top: 60px;
	left: 144px;
	z-index: 99;
  }
  .entry .title h3 {
	margin: 0;
	font-size: 120%;
  }
  .entry .title p {
	margin: 0;
	font-size: 100%;
  }
  .entry .body {
	margin: 0 0 3em;
	float: left;
	width: 66%;
	margin-left: 170px;
	padding:20px;
	background: #FFF;
	border: 1px #eee solid;
  }

  .entry .body::before { content: ''; position: absolute; top: 58px; left: 180px;  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #eee; 

}
  .entry .body p {
	line-height: 1.4em;
	margin-bottom:5px;
  }
  .entry .body p:first-child {
	margin-top: 0;
	font-weight: 400;
  }
  .entry .body ul {
	color: #aaa;
	padding-left: 0;
	list-style-type: none;
  }
  .entry .body ul li:before {
	content: "–";
	margin-right: .5em;
  }
  
/* Event Css */


/* download section */
.download-section {background: url('../images/download-section.jpg'); background-size: cover; padding: 20px;}
.download-section .innerbox {width:80%; margin: 20px auto; padding: 5%; display: flex;   background-image: -webkit-linear-gradient(134.3deg, #ffb716 35%, #ffffff 27%);}
.download-section .innerbox .box1 {width:50%; float:left;}
.download-section .innerbox .box2 {width:50%; float:left;}
.download-section .innerbox .box2 img {width:100%;}


/* download section */



/* Gallery Section */

#gallery .responsive-tabs-container {
	
}

.responsive-tabs {
	margin-top: 0;
    text-align: center;
    margin: 0px auto;
  }
  .nav-tabs {border-top: 1px #f2f2f2 solid; border-bottom: 1px #f2f2f2 solid;}
  .responsive-tabs li {
	  margin: 0px auto;
	  display: flex;
  }
  .responsive-tabs li a {
	color:#333;
	font-size: 14px;
	padding: 10px 50px;
}
.responsive-tabs li a:hover {
	color:#333;
	font-size: 14px;
	 background:#f19027;
	color:#fff;}
  .responsive-tabs li.active a {
	  background:#f19027;
	  color:#fff;
}

/* #photogallery {}
#photogallery ul {margin:25px 0px 0px 0px; padding: 0px; display: inline-block;}*/
#photogallery ul li a, .video-thumb ul li a, #bookgallery ul li a {display:block;padding:5px;border: 1px #eee solid;}
#photogallery ul li img, .video-thumb ul li img {width: 100%; height: 190px;}
#photogallery ul li a:hover::before, .video-thumb ul li a:hover::before {content: ''; position: absolute; width: 85%; height: 95%; background: rgba(0, 0, 0, 0.5);}
#photogallery ul li a:hover::after { font-family: "FontAwesome";content: "\f196";display: inline-block; font-size: 25px; color:#fff; position: absolute;top: 45%;left: 45%;}
.video-thumb ul li a:hover::after { font-family: "FontAwesome";content: "\f144";display: inline-block; font-size: 25px; color:#fff; position: absolute;top: 45%;left: 45%;}


#musicgallery .card-horizontal {
	display: -webkit-box;
	display: flex;
	-webkit-box-flex: 1;
			flex: 1 1 auto;
  }

  
#musicgallery .card-body {
	padding: 10px;
}

#musicgallery .img-square-wrapper {width: 199px;}
  

  .responsive-tabs + .tab-content {border-top:0px #f2f2f2 solid !important;}
  .responsive-tabs + .tab-content {border-left:0px #000 solid !important;}
  .responsive-tabs + .tab-content {border-right:0px #000 solid !important;}
  .responsive-tabs + .tab-content {border-bottom:0px #000 solid !important;}

  .responsive-tabs-container .tab-content {
	padding:10px 20px;
	border:1px solid #ddd;
	border-top:none;
  }
  
  .responsive-tabs-container[class*="accordion-"] .tab-pane {
	margin-bottom: 15px;
  }
  
  .responsive-tabs-container[class*="accordion-"] .accordion-link {
	display: none;
	margin-bottom: 10px;
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-radius: 3px;
	border: 1px solid #ddd;
	color: #333;
  }
  
  .responsive-tabs-container[class*="accordion-"] .accordion-link.active {
	  border-bottom: medium none;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	  color: #ff6600;
  }
  
  @media (max-width: 767px) {
	.responsive-tabs-container.accordion-xs .nav-tabs {
	  display: none;
	}
	
	.responsive-tabs-container.accordion-xs .accordion-link {
	  display: block;
	}
	
	.responsive-tabs-container[class*="accordion-"] .tab-pane {
	  border:1px solid #ddd;
	  border-top:none;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	  border-width: medium 1px 1px;
	  margin-bottom: 10px;
	  margin-top: -10px;
	  padding: 10px 10px 0;
   }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
	.responsive-tabs-container.accordion-sm .nav-tabs {
	  display: none;
	}
	
	.responsive-tabs-container.accordion-sm .accordion-link {
	  display: block;
	}
	
	.responsive-tabs-container[class*="accordion-"] .tab-pane {
	  border:1px solid #ddd;
	  border-top:none;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	  border-width: medium 1px 1px;
	  margin-bottom: 10px;
	  margin-top: -10px;
	  padding: 10px 10px 0;
   }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
	.responsive-tabs-container.accordion-md .nav-tabs {
	  display: none;
	}
	
	.responsive-tabs-container.accordion-md .accordion-link {
	  display: block;
	}
  }
  
  @media (min-width: 1200px) {
	.responsive-tabs-container.accordion-lg .nav-tabs {
	  display: none;
	}
	
	.responsive-tabs-container.accordion-lg .accordion-link {
	  display: block;
	}
  }
									 

/* Gallery Section */

/* Blog Section */

.blog-section a {color: #333;}

/* Blog Section */

/* footer Section */

.bg-grey {
	background: #292929;
 }
 .logo-footer {
	margin-bottom: 40px;
 }

footer {
	color: grey;
}
footer p, footer a {
font-size: 12px;
}
footer h6 {
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
.btn-footer {
		 color: grey;
	  
		text-decoration: none;
		border: 1px solid;
		border-radius: 43px;
		font-size: 13px;
		padding: 7px 30px;
		line-height: 47px;
}
.btn-footer:hover {
		
		text-decoration: none;
	   
}
.form-footer input[type="text"] {
border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
.social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
footer a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}

/* footer Section */




/* Login Css */

.jquery-modal .modal {
	position: relative;
	max-width: 75%;
	height: auto; 
    overflow:visible;;
}
.jquery-modal .modal#forgotpopup {max-width: 30%;}

.jquery-modal .modal#forgotpopup .forgotbtn {}
.jquery-modal .modal#forgotpopup .forgotbtn a {float: left;
    width: 45%;
    font-size: 14px;
	padding: 10px;
	line-height: normal;
	text-align: center;
	margin-right: 5px;
    height: auto;}

.modal a.close-modal {
top: 12px;
right: 12px;
width: 20px;
height: 20px;
}

.login-form h1 {
	font-size: 36px;
	text-align: center;
	color: #4d4766;
	margin-bottom: 30px;
	font-weight: normal;
  }
  .login-form .social-icon {
	  width: 100%;
	  font-size: 20px;
	  padding-top: 20px;
	  color: #fff;
	  text-align: center;
	  float: left;
	  margin-bottom: 50px;
  }
  .login-form {
	  background: #fff;
	  max-width: 450px;
	  border-radius: 6px;
	  margin: 0 auto;
	  display: table;
	  padding: 15px 30px 30px;
	  box-sizing: border-box;
  }
  .form-group {
	float: left;
	width: 100%;
	margin: 0 0 15px;
	position: relative;
  }
  .login-form input {
	  width: 100%;
	  padding: 5px;
	  height: 56px;
	  border-radius: 74px;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	  font-size: 15px;
	  padding-left: 75px;
  }
  .login-form .form-group .input-icon {
	  font-size: 15px;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  align-items: center;
	  position: absolute;
	  border-radius: 25px;
	  bottom: 0;
	  height: 100%;
	  padding-left: 35px;
	  color: #666;
  }
  .login-form .login-btn {
	background: #4d4766;
	padding: 11px 50px;
	border-color: #4d4766;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	border: 1px solid #4d4766;
	border-radius: 44px;
	width: 100%;
	height: 56px;
	cursor: pointer;
  }
  .login-form .reset-psw {
	float: left;
	text-decoration: none;
	color: #4d4766;
	font-size: 14px;
	text-align: center;
	margin-top: 11px;
	margin-left: 25px;
  }
  .login-form .signup {
	float: right;
	text-decoration: none;
	color: #4d4766;
	font-size: 14px;
	text-align: center;
	margin-top: 11px;
	margin-right: 25px;
  }
  .login-form .signin{
	float: right;
	text-decoration: none;
	color: #4d4766;
	font-size: 14px;
	text-align: center;
	margin-top: 11px;
	margin-right: 25px;
  }
  .login-form .social-icon button {
	  font-size: 20px;
	  color: white;
	  height: 50px;
	  width: 50px;
	  background: #4d4766;
	  border-radius: 60%;
	  margin: 0px 10px;
	  border: none;
	  cursor: pointer;
  }
  .login-form button:hover{
	opacity: 0.9;
  }
  .login-form .seperator {
	float: left;
	width: 100%;
	border-top: 1px solid #ccc;
	text-align: center;
	margin: 50px 0 0;
  }
  .login-form .seperator b {
	width: 40px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	line-height: 35px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -22px;
	z-index: 1;
  }
  .login-form p {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin: 0 0 10px;
  }

#loginpopup img {width:200px;}  
.close {
    position: absolute;
    padding: 0;
    margin: 0;
	right: -8px;
	z-index: 1;
}

.modal.show .modal-dialog {
	margin:4.75rem auto 0 auto;
}


/* login css */